.list-ingredients{
    list-style-type: none;
    padding-left: 0;
}

.list-row-green{
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
    background-color: var(--primary);
}

.list-row{
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}

.ingredients-container{
    margin-left: 5px;
    margin-right: 5px;
}

h2{
    text-align: start;
}

.ingredient-name{
    width: 70%;
    text-align: left;
}

.amount-unit{
    position: relative;
    width: 30%;
    text-align: left;
}

.recipe-section-ingredients{
    margin-bottom: 10px;
}

.atHome {
    position: absolute;
    left: -25px;
    top: -2px;
}