.list-ingredients{
    list-style-type: none;
    padding-left: 0;
}

.list-row{
    display: flex;
    justify-content: space-between;
}

.list-row{
    padding-right: 5px;
}

.ingredients-container{
    margin-left: 5px;
    margin-right: 5px;
}

h2{
    text-align: start;
}

.ingredient-name, .amount-unit{
    /* border: 1px dashed green; */
}

.ingredient-name{
    width: 70%;
    text-align: left;
}

.amount-unit{
    width: 30%;
    text-align: left;
}