.adv-button{
    background-color: var(--primary) !important;
    border: 1px solid var(--primary) !important;
    color: var(--off-white);   
}
.adv-button:hover{
    background-color: var(--off-white) !important;
    color: var(--primary) !important;
}