.itemInput{
    align-items:center;
}

.search-form{
    padding-top: 15px;
    padding-bottom: 15px;
}

.diet-boxes{
    padding-top: 10px;
    padding-bottom: 10px;
}

.accordion-style{
    padding-bottom: 15px;
    
}

#itemContainer{
    display: flex;
    flex-direction: row;;
    list-style-type: none;
    justify-content: center;
    margin: 0px auto;
    padding: 0px;
}

.searchItem{
    width: auto;
    height: 35px;
    border: 1px solid #0d6efd;
    margin: 0px 5px;
    background: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn-close{
    margin: 0px;
}