.itemInput {
  align-items: center;
}

.searchButton {
  border: 1px solid var(--primary);
  border-radius: 7px;
  padding: 5px;
  width: 150px;

  background: var(--primary);
  color: white;
  transition: color 150ms;
}

.search-form {
  padding-top: 5px;
  padding-bottom: 5px;
}

.search-btn-container {
  display: flex;
  justify-content: center;
}

.search-btn {
  position: relative;
  width: 160px;
}

.spinner {
  position:absolute;
  right: 1px;
  top: 8px;
}


.diet-boxes {
  padding-top: 3px;
  padding-bottom: 3px;
}

.accordion-style {
  position: relative;
  margin: auto;
  padding-bottom: 5px;
  padding-top: 10px;
  max-width: 350px;
  z-index: 1;
}

/* .accordion-body {
  background-color: var(--off-white);
  border: 1px solid grey;
  padding: 5px;
  display: flex;
  flex-direction: row;
} */

.accordion-button {
  padding: 10px !important;
  width: 97% !important;
}

.searchpadding {
  padding-top: 5px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 5px;
  height: 420px;
}

.search-text {
  max-width: 12rem;
}

.search-text:hover {
  border: 3px solid #94c9a3;
}

.search-text-alert {
  border: 2px solid red;
}

.textpadding {
  padding-top: 30px;
  text-align: center;
}

.alertOutput {
  color: red;
}

#itemContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  margin: 0px auto 15px;
  padding: 0px;
}

.searchItem {
  width: auto;
  height: 25px;
  border: 1px solid #0d6efd;
  margin: 5px 5px;
  background: #fff;
  border-radius: 5px;
  padding: 0px 10px;
}

.btn-close {
  position: relative;
  top: 0px;
  right: 0px;
  margin-left: 2px;
  width: 10px !important;
  height: 10px !important;
  padding: 0px !important;
}

.addBtn {
  height: 30px;
  margin-top: 0;
  padding: 0px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;

  background-color: var(--primary) !important;
  border: 1px solid var(--primary) !important;
}

.addBtn:hover {
  background-color: var(--off-white) !important;
  color: var(--primary) !important;
}

.smallText {
  font-size: 14px;
  text-align: left;
  background-color: var(--off-white);
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.diet-boxes {
  padding-top: 0px;
  padding-bottom: 0px;
}

@media screen and (min-width: 730px) {
  .itemInput {
    align-items: center;
  }

  .search-form {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .accordion-style {
    position: relative;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 450px;
    margin: auto;
  }

  .accordion-button {
    padding: 10px !important;
  }

  .searchpadding {
    padding-top: 5px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 40px;
    height: 380px;
  }

  .textpadding {
    padding-top: 30px;
    text-align: center;
  }

  .searchbar {
    padding-bottom: 15px;
  }

  #itemContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    margin: 0px auto 15px;
    padding: 0px;
  }

  .sendSearchBtn {
    background-color: var(--primary) !important;
    border: 1px solid var(--primary) !important;
    padding: 15px;
  }

  .searchButton:hover {
    background-color: white;
    color: var(--primary);
  }

  .searchItem {
    width: auto;
    height: 25px;
    border: 1px solid #0d6efd;
    margin: 0px 5px;
    background: #fff;
    border-radius: 5px;
    padding: 0px 10px;
  }

  .btn-close {
    position: relative;
    top: 0px;
    right: 0px;
    margin-bottom: 5px !important;
    width: 10px !important;
    height: 10px !important;
    padding: 0px !important;
  }

  .addBtn {
    height: 30px;
    margin-bottom: 5px;
    margin-left: 5px;
  }

  .smallText {
    font-size: 15px;
    text-align: left;
  }
}

@media screen and (max-width: 470px) {
  .searchpadding {
    padding-left: 0px;
    padding-right: 0px;
  }

  .smallText {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 374px) {
  .diet-boxes {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
