.card-container {
  height: 30rem;
  display: inline-block;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(218, 206, 189);
  padding: 1rem;
  margin: 1rem;
  border-radius: 1.5%;
}

.card-container:hover {
  filter: drop-shadow(2px 1px 7px rgb(0, 0, 0));
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 0px;
}

.card-title {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: rem;
  color: black;
}

.card-text {
  color: black;
}

.card-button {
  background-color: #0d6efd;
  color:rgb(238, 238, 238);
  height: 35px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid rgb(238, 238, 238);
  transition: color 150ms;
  position: relative;
  bottom: 5px;
}

.card-button:hover {
  background-color:rgb(238, 238, 238);
  color: #0d6efd;
  border-color: #0d6efd;
}
