.button {
  border: none;
}

.card {
  width: 13rem;
}

.card-body {
  height: 12rem;
  background-color: var(--primary);
  border-radius: 5px;
}

.card .card-title {
  color: black;
  font-size: 0.75rem;
  margin-top: 3px;
}

.card:hover {
  box-shadow: 0px 3px 10px 0px rgb(58, 49, 42);
}
