.NavBar *{
    margin: 0px;
    padding: 0px;
    transition: color 150ms;
}

button {
    border: none;
    background-color: transparent;
}

.NavBar{
    position: sticky;
    top: 0px;
    background-color: rgba(150, 150, 150, 0);
    width: 100%;
    height: auto;
    margin: 0px;

    z-index: 500;
}

.Logotype{
    display: none;
    position: absolute;
    width: 55px;
    height: 55px;
    box-sizing: border-box;
    left: 0px;
    overflow: hidden;
}

.NavBar ul{
    float: none;
    display: contents;
    flex-direction: row;
    list-style-type: none;
    background-color: rgba(255, 200, 255, 0);
}

.NaviIntro{
    box-sizing: content-box;
    height: 55px;
    background-color: rgb(200, 200, 200);
    display: flex;
    flex-direction: row;
    padding: 10px;

    /* FONT DESIGN */
    font-size: larger;
}

.NaviIntro p{
    margin: 10px auto;
}

.searchIcon{
    width: 45px;
    height: 45px;
    border-radius: 5px;
    padding: 7px 5px 3px 5px;
    background-color: rgb(150, 150, 150);
}

.searchIcon img{
    width: 40px;
    height: 40px;
}

.navOpt{
    box-sizing: content-box;
    background-color: rgb(240, 248, 255);
    width: 100%;
    height: 35px;
    margin: 5px 0px 0px 0px;
    padding: 2px 0px;
    transition: 150ms;
    overflow: hidden;
}

.navOpt:hover{
    background-color: rgb(90,120,255);
}

/* QUERY DESKTOP VIEW */
@media screen and (min-width: 730px){
    .Logotype{
        display: block;
    }

    .NaviIntro{
        display: none;
    }

    .NavBar ul{
        float: right;
        display: flex;
        flex-direction: row;
    }

    .navOpt{
        margin: 15px 5px;
        width: 100px;
        height: 25px;
        background-color: rgba(240, 248, 255, 0);
    }

    .navOpt:hover{
        background-color:rgba(240, 248, 255, 0);
    }

    .NavBar{
        background-color: #b5ffd5;
        height: 55px;
    }
}
