.NavBar * {
  margin: 0px;
  padding: 0px;
  transition: color 150ms;
}

button {
  border: none;
  background-color: transparent;
}

.NavBar {
  position: sticky;
  top: 0px;
  background-color: var(--primary);

  width: 100%;
  height: auto;
  margin: 0px;
  z-index: 1; /*Så att navbaren inte hamnar bakom bild på receptkort när man scrollar ner*/
}

.Logotype {
  display: none;
  position: absolute;
  width: 75px;
  height: 75px;
  box-sizing: border-box;
  border: 1px solid red;
  left: 0px;
  overflow: hidden;
}

.NavBar ul {
  float: none;
  display: contents;
  flex-direction: row;
  list-style-type: none;
  background-color: rgba(255, 200, 255, 0);
}

.NaviIntro {
  box-sizing: content-box;
  height: 55px;
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  padding: 10px;

  /* FONT DESIGN */
  font-size: larger;
}

.NaviIntro p {
  margin: 10px auto;
}

.searchIcon {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  padding: 7px 5px 3px 5px;
  background-color: var(--secondary);
}

.searchIcon img {
  width: 40px;
  height: 40px;
}

.navOpt {
  box-sizing: content-box;
  background-color: var(--off-white);
  width: 100%;
  height: 35px;
  margin: 5px 0px 0px 0px;
  padding: 2px 0px;
  transition: 150ms;
  overflow: hidden;
}

.navOpt:hover {
  background-color: var(--secondary);
  color: var(--off-white);
}

.navOpt:hover a {
  color: var(--off-white);
}

/* QUERY DESKTOP VIEW */
@media screen and (min-width: 760px) {
  .Logotype {
    display: block;
  }

  .NaviIntro {
    display: none;
  }

  .NavBar ul {
    float: right;
    display: flex;
    flex-direction: row;
  }

  .navOpt {
    margin: 25px 5px;
    width: 100px;
    height: 25px;
    background-color: rgba(240, 248, 255, 0);
  }

  .navOpt:hover a {
    color: white;
  }

  .navOpt:hover {
    background-color: var(--secondary);
    border-radius: 5px;
  }

  .NavBar {
    background-color: var(--primary);
    height: 75px;
  }
}
