:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  transition: color 200ms;
  --primary: rgb(218, 206, 189);
  --secondary: rgb(158, 150, 138);
}

/*
  BOILER PLATING
*/

body {
  margin: 0px;
  padding: 0px;
  border: none;
  box-sizing: content-box;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color:rgb(55, 35, 75);

  background-color: rgba(120,120,120, 0.5);
  background: url(./assets/pictures/saladbowl.jpg) top left no-repeat fixed;
  background-size: cover;
}

body button{
  margin: 5px;
}

.wrapper{
  width: 100%;
  max-width: 1200px;
  background-color: rgb(245,245,245);
  margin: 0px auto;
  padding: 15px;
}


/*
  LINK DESIGN
*/

body a {
  color: rgb(70, 50, 100);
  font-weight: 600;
  text-decoration: none;
}

body a:hover {
  color: rgb(130, 100, 150);
}

body a:active {
  color: rgb(150, 60, 200);
}

/* QUERY DESKTOP STYLE */
@media screen and (min-width: 730px){

}