.aboutText{
    text-align: center;
}

.aboutImg{
    width: 100%;
}

.aboutRow{
    margin: 30px 0px;
    display: block;
    flex-direction: column;
}

.aboutCol{
    margin: 0px 25px;
}

.aboutTitle{
    margin: 25px;
    text-align: center;
}

.about40percent{
    width: 40%;
}

.about60percent{
    width: 60%;
}

/* QUERY DESKTOP VIEW */
@media screen and (min-width: 730px){
    .aboutRow{
        display: flex;
        flex-direction: row;
    }

    .aboutText{
        text-align: left;
    }

    .aboutTitle{
        text-align: left;
    }
}